@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root {
  --background: #341334;
  --accent: #6ba5b1;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}

//linear-gradient(to bottom, #9f75e6, #8241f9)

.image-highlighted {
  @apply rounded-lg bg-center p-4 text-white;
  background-image: url(/img/highlight.jpg);
}
